body {
    margin: 0;
    padding: 0;
}

#gamescrn {
    display: block;
}

#gameover {
    position: absolute;
    visibility: hidden;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    color: green;
}

h2 {
    font-family: 'Covered By Your Grace', cursive;
    color: white;
}